<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
</head>

<body>
    <header></header>
        <h1>{{ .Site.Title}}</h1>
        <nav>
            <ul>
                <li><a href="{{ relURL "" }}">Home</a></li>
                <li><a href="{{ relURL "about" }}">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <h2>{{ .Title }}</h2>
    {{ .Content }}
</body>

</html>