{{ define "main" }}
{{ .Content }}
<section id="fotos">
    <img class="fotografia" src="images/1.png">
    <img class="fotografia" src="images/2.png">
    <img class="fotografia" src="images/3.png">
    <img class="fotografia" src="images/4.png">
    <img class="fotografia" src="images/5.png">
    <img class="fotografia" src="images/6.png">
    <img class="fotografia" src="images/7.png">
    <img class="fotografia" src="images/8.png">
    <img class="fotografia" src="images/9.png">
    <img class="fotografia" src="images/10.png">
</section>

{{ end }}
